body {
  background-color: #4B7399;
  font-family: Verdana; 
  font-size: 20px; 
  margin: 80px 0;
  height: 1000px;
}
#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#container:after {
  height:110px;
}

.start{
  text-align: center;
}

h1 {
  margin: 10px;
  padding: 0;
  
}

.left_panel {
  width: 40%;
  float: right;  
  margin-top: 30px;
  text-align: center;
  table, td {
    border: 1px solid #87c286;
  }
}


ul.hr {
  margin: 10; 
  padding: 4px; 
  font-size: 30px; 
}

ul.hr li {
  display: inline; 
  margin-right: 15px; 
  padding: 3px; 
}





